* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* NAVBAR */
nav {
  background-color: green;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
}

#logo {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.notification p {
  font-size: 1.2rem;
  /* position: relative; */
}

.num-notify {
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 20px;
}

/* MAIN */
#main {
  z-index: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

.login {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 33%;
  /* height: 40vh; */
  padding: 25px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 50px;
  /* justify-content: center; */
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#btn {
  background-color: green;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  width: 100%;
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
}

input, #btn{
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  width: 125%;
}

.actions{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

p > a {
  color: yellow;
}

#close {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

#close p{
  font-size: 2rem;
}

.chat {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.chat p {
  font-size: 1.5rem;
}

.circ {
  position: absolute;
  background-color: orange;
  border-radius: 50%;
}

.circ1 {
  top: 200px;
  left: 100px;
  width: 200px;
  height: 200px;
}

.circ2 {
  top: 400px;
  right: 200px;
  width: 150px;
  height: 150px;
}

.pass-info {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 20px; */
}
